.header {
    border: 1px;
    .navigation {
        .list {
            list-style: none;
            justify-content: space-evenly;
            display: flex;
            &__item {
                display: inline;
                .item{
                    text-decoration: none;
                }
            }
        }
    }
}
