<nav class="navbar navbar-expand-lg header">
    <img class="logo" src="../../../assets/logo.png" routerLink="/home">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li><a class="menu-header" routerLink="/campeonatos">Campeonatos</a></li>
            <li><a class="menu-header" routerLink="/galeria">Galeria</a></li>
            <li><a class="menu-header" routerLink="/sobre">Quem somos</a></li>
        </ul>
        <ul class="navbar-nav">
            <div class="collapse navbar-collapse">
                <li><a class="menu-header" href="https://www.instagram.com/ifastesports/?hl=pt-br"><i
                            class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/ifastesports/"><i class="fa fa-facebook"></i></a></li>
                <li><a type="button" class="menu-header btn btn-primary" routerLink="/login">Entrar</a></li>
            </div>
        </ul>
    </div>
</nav>