<div class="alert alert-primary header">
    <a><img class="logo" src="../../../assets/logo.png" routerLink="/home"></a>
</div>

<form>
    <div class="card bg-light mb-3">
        <div class="card-header body">
            <a class="entre">Entre </a><span class="conta">na sua conta</span>
        </div>
        <div class="card-body">
            <div class="form-group col-sm-12">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-envelope col-sm-1" aria-hidden="true"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="E-mail" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-key col-sm-1" aria-hidden="true"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Senha" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="form-group col-sm-12 submit">
                <button type="submit" class="btn btn-primary col-sm-12">Entrar</button>
            </div>
        </div>
    </div>

    <br>

    <div class="card bg-light mb-3">
        <div class="card-body">
            <div class="col-sm-12">
                <span>Você ainda não tem conta?</span>
            </div>
            <br>
            <div class="form-group col-sm-12 submit">
                <button type="submit" class="btn btn-success col-sm-12">Criar conta</button>
            </div>
        </div>
    </div>
</form>