.caroussel {
    margin: 0px 155px 0px 155px;

    &-container {
        width: 100%;
        height: 50vh;
        background-size: cover;
        background-repeat: round;
        .caroussel__btn {
            display: flex;
            justify-content: space-between;
        }
    }
}
