<app-header></app-header>
<section class="about">
    <div class="container">
        <h1 class="">Nossa história</h1>

        <div class="topic topic-begin">
            <h3 class="topic-begin__title">O COMEÇO</h3>
            <div class="topic-begin__content">
                <p class="text-description">Foi no Crossfire em 26 de outubro de 2016 quando dois amigos resolveram criar um clã pra
                    jogar com amigos e tudo mais, na diversão.</p>
                <img src="../../../assets/begin_01.png" alt="" class="image img-logo-1">
            </div>
        </div>
        <div class="topic-middle">
            <p class="topic-middle__description">
                No entanto ambos queriam algo mais a sério, e resolveram entrar no amador de Crossfire participando de vários campeonato amador, mas com problemas na line up,e por conta de vários hackers no game, ‘Kenen’ dono da equipe resolveu parar com o cenário de CF.
            </p>
            <img src="../../../assets/middle-image.png" alt="" class="topic-middle__image">
        </div>

        <div class="topic topic-end">
            <p class="topic-end__description-first">
                investindo no Cenário de games com apoio de Danilo ‘N1lo’ Silveira, Leandro ‘Leco’ Cardoso e amigos, criando nossa Org  e line nos Cenários de diversas modalidades CS/LOL/PUBG.
            </p>
            <p class="topic-end__description-second">
                Estamos atualmente disputando o amador visando melhorar mais e mais.
            </p>
        </div>
    </div>
</section>